[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"flake8" = "*"
parglare = {git = "https://github.com/SupraSummus/parglare.git", ref = "551c7efa013ff010af25868c07e1a78f6df9775e"}

[dev-packages]

[requires]
python_version = "3.7"
